---
services:
  nginx-proxy-manager:
    # https://hub.docker.com/r/jc21/nginx-proxy-manager/tags
    image: jc21/nginx-proxy-manager:{{ nginx_proxy_manager_version }}
    container_name: "{{ nginx_proxy_manager_service_name }}"
    restart: unless-stopped
    hostname: "{{ nginx_proxy_manager_hostname }}"
    volumes:
      - "{{ conf_dir }}/data:/data"
      - "{{ conf_dir }}/letsencrypt:/etc/letsencrypt"
    network_mode: host  # <- Allows adding Stream ports without editting compose file
    # ports:
    #   - '80:80'   # HTTP Port
    #   - '81:81'   # Web UI port
    #   - '443:443' # HTTPS Port
    #   # Add any other Stream port you want to expose
    #   # - '21:21' # FTP
    env_file:
      - ./main.env
{% if extra_envfile %}
      - ./extra.env
{% endif %}
{% if nginx_proxy_enabled | default(false) %}
    environment:
      - VIRTUAL_HOST={{ nginx_proxy_manager_vhost }}
      - VIRTUAL_PORT=81

# * Due to 'host' network 'nginx-proxy' network is not required
# * 'nginx-proxy' container is reachable via http://localhost:NGINX_PROXY_HTTP_PORT
# networks:
#   "{{ nginx_proxy_net }}":
#     external: true
{% endif %}
