#
# https://nginxproxymanager.com/guide/
#

# For some reason fails with non-root
# PUID={{ owner_uid }}
# PGID={{ owner_gid }}

# Change SQLite DB file location
# DB_SQLITE_FILE=/data/database.sqlite

# Uncomment when IPv6 is not enabled on your host
# DISABLE_IPV6=true
